.card-home {
  width: 30vh;
  height: 50vh;
}
.card-img-home {
  width: 30%;
  margin-left: 0%;
}

.card-title {
  font-size: 18px;
  text-align: center;
}

.card-text {
  font-size: 15px;
  opacity: 0.45;
  line-height: 3vh;
  text-align: center;
  margin-top: 5vh;
}
.btn {
  width: 170px;
  height: 44px;
  border-radius: 2px;
  border: solid 1px #dce1e6;
  background-color: #ffffff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
  margin-top: 25%;
  margin-left: 15%;
}

.navlink-button {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #725fe3;
}
