.card-home {
  width: 40vh;
  height: 55vh;
}
.card-img-home {
  width: 50%;
  margin-left: 25%;
}

.card-title {
  font-size: 18px;
  text-align: center;
}

.card-text {
  font-size: 15px;
  opacity: 0.45;
  line-height: 3vh;
  text-align: center;
  margin-top: 5vh;
}

.btn .btn-secondary {
  width: 170px;
  height: 44px;
  border-radius: 2px;
  border: solid 1px #007af3;
  background-color: rgb(255, 0, 0);
  margin-top: 25%;
  margin-left: 15%;
}

.navlink-button {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #725fe3;
}
