@import "../../../styles/variables.scss";

.navbar-left {
  width: 100%;
  height: 100vh;
  background-color: $primary-color;
  color: white;
}

.nav-item {
  margin-right: 0px;
  margin-left: 25%;
  margin-top: 30%;
  font-size: 16px;
  text-align: left;
}

.nav-item-settings {
  margin-right: 0px;
  margin-left: 0%;
  font-size: 16px;
  text-align: center;
  margin-top: auto;
}
