.pic-profile {
  margin-top: 25px;
  width: 40px;
  height: 40px;
}

.id-profile {
  color: #231b56;
  font-size: 16px;
  margin-top: 28px;
  margin-left: 21px;
}

.business-profile {
  color: #372c78;
  margin-top: 5px;
  margin-left: 21px;
  font-size: 14px;
}
