.imgRowDir {
  width: 30px;
  height: 29px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 19.1px;
}

.tdRowDir {
  width: 40%;
  height: 9%;
  font-family: "DepotNew";
  font-size: 14px;
  margin-top: 14%;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: "#a5a0c2";
}

.tdShareRowDir {
  width: 20%;
}
